/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --alt-bg-color: #D6D7D6;
    --primary-text-color: #424242;
    --alt-text-color: #FFFFFF;
    --accent-color: #FF3F3C;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url(polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px; 
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details h3 {
    font-size: 2em;
    text-align: center; 
}

.details ul li { 
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
}

.details ul li.wifi {
    background: url(wifi-solid.svg) no-repeat center left;
}

.details ul li.cloud {
    background: url(cloud-arrow-up-solid.svg) no-repeat center left;
}

.details ul li.qr {
    background: url(qrcode-solid.svg) no-repeat center left;
}

.details ul li.photo {
    background: url(photo-film-solid.svg) no-repeat center left;
}

.cta {
    font-size: 2em;
    text-align: center; 
    margin-bottom: 75px;
}

.cta form {
    padding: 20px 25px 20px 25px;
    margin: auto;
    background-color: var(--alt-bg-color) ;
    border-radius: 20px;
    width: fit-content;
}

input[type=text] {
    min-height: 50px;
    box-sizing: border-box;
    width: 350px;
}

input[type=button] {
    margin-left: 10px;
    text-transform: uppercase;
    color: var(--alt-text-color)
    background-color: var(--accent-color);
    min-height: 50px;
    border: none;
    padding: 10px;
    font-weight: bold;
}